.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
}

.admin-dashboard-header {
    background-color: #51bfd0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

.admin-dashboard-header h2 {
    flex: 3;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-left: 7%;
}

.admin-dashboard-header .btn {
    margin-right: 5%;
    height: 50%;
    border: none;
    color: white;
    width: 11%;
    background-color: #39ddd6;
    font-size: x-large;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.admin-dashboard-header .btn:hover {
    color: black;
}

.admin-profile {
    border: red 2px solid;
}

.administrateur {
    background-color: #eeecec;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.admin-infos {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #fff, #44c8dd);
}

p {
    font-size: x-large;
}

#last-name {
    text-indent: 30px;
}

.photo {
    border: black 1px solid;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.toff {
    border: black 1px solid;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.femme {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    width: 60%;
}

.admin-menu {
    height: 60%;
    background-color: white;
}

.icone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

li {
    height: 25%;
    color: gray;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.champ {
    width: 5%;
    height: 30%;
    margin-top: 2%;
    cursor: pointer;
}

.right {
    width: 55%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.haut {
    border: #51bfd0 2px solid;
    border-radius: 10px;
    width: 70%;
    height: 80%;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    width: 37%;
    font-size: x-large;
}

.btn {
    width: 11%;
    height: 6%;
    font-size: x-large;
    background-color: #39ddd6;
    border: none;
    color: white;
    text-align: center;
}

.principal {
    height: 100%;
    display: flex;
}

.picture {
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-radius: 10px 10px 10px 10px;
}

.photo1 {
    border: 4px solid #39ddd6;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.avatar {
    width: 60%;
    height: 50%;
    border-radius: 50%;
}

.inscription {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.partie1 {
    height: 15%;
}

.contentFormulaire {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentInscription {
    width: 95%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.taille {
    width: 65%;
    height: 5%;
    margin: 1%;
    border: 1px solid;
    background-color: white;
    font-size: x-large;
    outline: none;
}

.click1 {
    width: 30%;
    height: 65%;
    margin: 1%;
    font-size: x-large;
    background-color: #39ddd6;
    color: white;
    border: none;
    cursor: pointer;
}

.bottom {
    height: 15%;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

label {
    font-size: x-large;
    margin: 1%;
}

.inscrire {
    margin: 1%;
    color: rgba(0, 0, 0, 0.616);
}

.inscrire2 {
    margin: 1%;
    color: gray;
    border-bottom: 3px solid #cccccc;
}

.partie2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.partie2 h2 {
    color: grey;
}

.affichage {
    margin-left: 20px;
}