:root {
    --color-of-header: #052426;
    --color-of-gray: #b9b9b9;
    --color-of-blue: #51bfd0;
    --color-of-aqua: #39ddd6;
    --color-of-whitesmoke: #f0eef1;
    --color-of-orange: #8d6d24;
    --color-of-gold: #8d8070;
    --color-of-dashboard: #f2f2f2;
    --color-of-active-setting: #4daf7c;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

body {
    background-image: url(../img/img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-form {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion-form {
    width: 35vw;
    height: 60vh;
    background-color: #fff;
    padding: 0;
}

.libele-form-connect {
    padding: 5%;
    background-color: var(--color-of-blue);
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

.control-group-connect {
    height: 90%;
    padding: 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms-group {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-of-gray);
    background-color: var(--color-of-whitesmoke);
    margin: 2.5%;
    height: 90px;
}

.forms-group.error {
    visibility: visible;
}

.forms-group.error {
    border: 2px solid var(--error-color);
}

.forms-group.success {
    border: 2px solid var(--success-color);
}

.ic-connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4%;
}

.ic-connexion img {
    width: 50px;
    height: 50px;
}

.input-connexion {
    background-color: var(--color-of-whitesmoke);
    border: none;
    outline: none;
    text-indent: 5%;
    outline: none;
    width: 98%;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    color: var(--color-of-gray);
    margin: 1% 0;
}

.input-connexion:focus::placeholder {
    text-align: right;
    color: var(--color-of-blue);
}

.last-control {
    margin: 5%;
    display: flex;
    align-items: center;
    color: var(--color-of-gray);
    font-size: 1.5em;
}

.last-control #connect {
    width: 200px;
    height: 80px;
    margin-right: 20px;
    padding: 1% 5%;
    background-color: var(--color-of-blue);
    color: #fff;
    font-SIZE: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.last-control #connect:active {
    background-color: var(--color-of-orange);
}

.last-control a {
    color: var(--color-of-gray);
    display: flex;
}

.last-control a:hover {
    color: var(--color-of-orange);
}

.ERROR-LAY {
    text-align: center;
    font-size: 1.2em;
    color: red;
}

.para {
    color: red;
    font-size: 100%;
    text-indent: 3%
}

.para1 {
    color: red;
    text-align: center
}

.small1 {
    color: red;
    text-indent: 1%
}

.forms-group.errorConnect {
    border: solid red 1px;
    color: red;
}

.forms-group.successConnect {
    border: solid green 1px;
}